body {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 40px;
}

#container {
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: auto;
    font-size: 28px;
    text-align: center;
    font-family: 'Mouse Memoirs', sans-serif;
    background-color: coral;
    padding-left: 5%;
    padding-right: 5%;
}

button:hover {
    font-size: 34px;
    color: yellow;
}

#buttons {
    min-height: 50px;
}

#prompt {
    margin-top: 5%;
    white-space: pre-wrap;
    text-align: center;
}

#score {
    justify-self: end;
    margin-top: 10%;
}
